<!DOCTYPE html>
<html lang=en>
<title>Portfolio</title>
<meta charset=utf-8>
<meta content="Tom Buxton" name=author>
<meta name="description" content="web developer portfolio">
<meta content="width=device-width,initial-scale=1" name=viewport>
<meta content=http://tomabuxton.co.uk/workspace.png property=og:image>

<link href=font-awesome/css/font-awesome.min.css rel=stylesheet>

<link href=css/bootstrap.min.css rel=stylesheet>
<script src=https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js></script>
<script src=http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js></script>
<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel=stylesheet>
<link rel="icon" href="t.png" type="image/gif" sizes="16x16">
<style>
    #section1 {
        padding-top: 90px;
        height: 100%;
        position: absolute;
        font-size: 18px;
        text-align: center;
        vertical-align: middle;
        left: 0;
        font-family: 'Fjalla One', sans-serif;
        top: 5%;
        width: 100%;
        color: #000;
        background-color: #1a53ff;
        background-image: url(workspace.png);
        background-size: cover;
        background-repeat: no-repeat
    }
    
    img {
        display: block
    }
    
    h1 {
        text-align: center;
        font-family: 'Fjalla One', sans-serif
    }
    
    .container {
        text-align: center
    }
    
    .para1 {
        text-align: center
    }
    
    .para2 {
        text-align: center;
        font-size: 1em
    }
    
    #section2 {
        padding-top: 80px;
        height: 80%;
        position: absolute;
        text-align: center;
        display: inline-block;
        font-family: 'Fjalla One';
        font-size: 18px;
        left: 0;
        top: 80%;
        padding-bottom: 80px;
        width: 100%;
        color: #000;
        background-color: #F9B67A
    }
    
    #section3 {
        padding-top: 90px;
        height: 100%;
        position: absolute;
        text-align: left;
        display: inline-block;
        font-size: 1.1em;
        left: 0;
        top: 160%;
        width: 100%;
        color: #000;
        background-color: #B5C9FF
    }
    
    #skill {
        padding-top: 50px
    }
    
    #inner {
        padding-top: 20px;
        height: 200px;
        position: absolute;
        text-align: center;
        font-family: 'Fjalla One';
        font-size: .8em;
        left: 0;
        top: 285%;
        width: 100%;
        color: #000;
        background-color: #fff
    }
    
    .inner i {
        background-color: #000;
        border-radius: 50%;
        border: 1x solid #000;
        padding: 10px
    }
    
    #section4 {
        padding-top: 40px;
        height: 30%;
        position: absolute;
        text-align: center;
        vertical-align: middle;
        font-family: 'Fjalla One';
        font-size: 18px;
        left: 0;
        top: 255%;
        width: 100%;
        color: #000;
        background-color: #97C798
    }
    
    .navbar-brand {
        font-family: 'Fjalla One';
        font-size: 2em
    }
    
    .navbar-default {
        text-align: center;
        background-color: #fff
    }
    
    .nav a {
        font-family: 'Fjalla One', sans-serif;
        font-size: 2em
    }
    
    .navbar {
        padding: 1.5em;
        background-color: #FFF;
        opacity: .9
    }
    
    .nav a:focus,
    .navbar .active a {
        color: #F05557!important;
        background-color: transparent!important
    }
    
    .navbar-nav a::after,
    .navbar-nav a::before {
        display: inline-block;
        opacity: 0
    }
    
    .navbar-nav a::before {
        margin-right: 10px;
        content: '['
    }
    
    .navbar-nav a::after {
        margin-left: 10px;
        content: ']'
    }
    
    .navbar-nav a:focus::after,
    .navbar-nav a:focus::before,
    .navbar-nav a:hover,
    .navbar-nav a:hover::after,
    .navbar-nav a:hover::before {
        color: #F05557!important;
        background-color: transparent!important;
        opacity: 1
    }
    
    a,
    h4,
    p {
        font-family: proxima-nova, sans-serif;
        margin: 0
    }
    
    img {
        width: 100%;
        height: auto
    }
    
    .product-cat {
        display: inline-block;
        width: 360px;
        height: 260px;
        margin-right: 10px;
        position: relative
    }
    
    .product-cat h4 {
        font-size: 17px;
        font-weight: 600;
        color: #505050
    }
    
    .product-cat a {
        text-transform: uppercase;
        font-size: 12px;
        color: #3B1431;
        text-decoration: none
    }
    
    .product-overlay p {
        text-transform: uppercase;
        font-weight: 700
    }
    
    span.roll {
        background: center center no-repeat #fff;
        height: 260px;
        position: absolute;
        text-align: center;
        line-height: 153px;
        width: 360px;
        z-index: 10
    }
    
    .roll:before {
        content: "\f00e";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: 400;
        text-decoration: inherit;
        color: #784669;
        font-size: 5em;
        padding-top: 50%;
        padding-right: .5em;
        position: center;
        top: 0;
        left: 95px
    }
    
    .icon-background1 {
        color: #fff
    }
    
    .icon-background2 {
        color: #F9B67A
    }
    
    .icon-background3 {
        color: #fff
    }
    
    .icon-background4 {
        color: #F9B67A
    }
    
    .icon-background5 {
        color: #fff
    }
    
    .icon-background6 {
        color: #F9B67A
    }
    
    @media only screen and (max-width:480px) {
        #section2 {
            top: 70%;
            height: 1500px
        }
    }
    
    @media only screen and (max-width:480px) {
        #section3 {
            top: 230%;
            height: 1200px
        }
    }
    
    @media only screen and (max-width:480px) {
        #section4 {
            top: 360%;
            height: 400px
        }
    }
</style>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77190908-1', 'auto');
  ga('send', 'pageview');

</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class=container>
        <div class="page-scroll navbar-header">
            <button class=navbar-toggle type=button data-target=#bs-example-navbar-collapse-1 data-toggle=collapse><span class=sr-only>Toggle navigation</span> <span class=icon-bar></span> <span class=icon-bar></span> <span class=icon-bar></span></button> <a href=#page-top class=navbar-brand>welcome to my portfolio</a></div>
        <div class="collapse navbar-collapse" id=bs-example-navbar-collapse-1>
            <ul class="nav navbar-nav navbar-right">
                <li class=hidden>
                    <a href=#page-top></a>
                    <li class=page-scroll><a href=#section2>Portfolio</a>
                        <li class=page-scroll><a href=#section3>About</a>
                            <li class=page-scroll><a href=#section4>Contact</a></ul>
        </div>
    </div>
</nav>
<div class=row-fluid id=section1>
    <h1>Tom Buxton</h1>
    <br>
    <h2>Web Developer</h2>
    <button class="btn btn-default btn-lg" type=button><a href=http://uk.linkedin.com/in/tbuxton82><span class="glyphicon glyphicon-link"aria-hidden=true></span></a> <a href=http://uk.linkedin.com/in/tbuxton82 id=linkedin target=blank_>LinkedIn</a></button>
    <div class="fb-share-button" data-href="http://tomabuxton.co.uk/" data-layout="button_count" data-mobile-iframe="true"></div>
</div>
<div class=container-fluid id=section2>
    <script>
        $(function() {
            $(".roll").css("opacity", "0"), $(".roll").hover(function() {
                $(this).stop().animate({
                    opacity: .7
                }, "fast")
            }, function() {
                $(this).stop().animate({
                    opacity: 0
                }, "slow")
            })
        })
    </script>
    <h1>Porfolio Work</h1>
    <div class=product-cat><a href=http://tomabuxton.co.uk/webapp/webapp/><span class=roll></span> <%=image_tag ("work1.png")%></a>
        <h4>third year</h4><a href=<?php echo get_permalink(); ?>>PHP,Json,XML,Ajax,OO, skeleton framework, MySql</a></div>
    <div class=product-cat><a href=http://tomabuxton.co.uk/webapp/production/project/index.php/welcome><span class=roll></span> <%=image_tag ("work2.png")%></a>
        <h4>final year product</h4><a href=<?php echo get_permalink(); ?>>MVC,PHP,bootstrap framework,ajax,js,CSS, MySql</a></div>
    <div class=product-cat><a href=http://tomabuxton.co.uk/gumby/index.php><span class=roll></span> <%=image_tag ("work3.png")%></a>
        <h4>second year</h4><a href=<?php echo get_permalink(); ?>>PHP,CSS,HTML,MySql</a></div>
    <div class=product-cat><a href=http://tomabuxton.co.uk/firstyear/index.html><span class=roll></span> <%=image_tag ("work4.png")%></a>
        <h4>first year</h4><a href=<?php echo get_permalink(); ?>>HTML,CSS</a></div>
</div>
<div class=container id=section3>
    <h1>About Me</h1>
    <div class=para1>
        <h2>Who am I?</h2>
        <p>Hello, my name is Thomas Buxton, but most people call me Tom.
            <br>I am currently a third year student at Leeds Beckett University
            <br>studying for a degree in Computing.</div>
    <div class=para2>
        <h2>What can I do?</h2>
        <p>My main focus is front-end web development. I have a strong passion for designing and making responsive web applications.
            <br>Throughout my work I have been highly motivated to achiece the best outcome possible, even when working under pressure.
            <br>I am hard working and always try to complete any given task to the best of my ability.During away at
            <br>university I have realised that I enjoy having a new challenge to focus on. Studying this degree has help me to
            <br>develop in many ways ranging from improving my teamwork skills to expanding my knowledge of different programs.</div>
    <div class=container id=skill>
        <h1>skills</h1><span class="fa-3x fa-stack"><i class="fa fa-circle fa-stack-2x icon-background1"></i> <i class="fa fa-stack-1x fa-file-code-o"></i> </span><span class="fa-3x fa-stack"><i class="fa fa-circle fa-stack-2x icon-background2"></i> <i class="fa fa-stack-1x fa-css3"></i> </span><span class="fa-3x fa-stack"><i class="fa fa-circle fa-stack-2x icon-background3"></i> <i class="fa fa-stack-1x fa-html5"></i> </span><span class="fa-3x fa-stack"><i class="fa fa-circle fa-stack-2x icon-background4"></i> <i class="fa fa-stack-1x fa-database"></i> </span><span class="fa-3x fa-stack"><i class="fa fa-circle fa-stack-2x icon-background5"></i> <i class="fa fa-stack-1x fa-users"></i> </span><span class="fa-3x fa-stack"><i class="fa fa-circle fa-stack-2x icon-background6"></i> <i class="fa fa-stack-1x fa-graduation-cap"></i></span></div>
    <div class=container>
        <h2>Coding Language and framework Experience</h2>
        <button class="btn btn-lg btn-info" type=button data-target=#myModal data-toggle=modal>find out more</button>
        <div class="fade modal" id=myModal role=dialog>
            <div class=modal-dialog>
                <div class=modal-content>
                    <div class=modal-header>
                        <button class=close type=button data-dismiss=modal>×</button>
                        <h4 class=modal-title>Coding Experience</h4></div>
                    <div class=modal-body>
                        <p>PHP, HMTL5, CSS3
                            <br>MySql, Json, Xml
                            <br>Ajax, JavaScript, JQuery</div>
                    <div class=modal-header>
                        <button class=close type=button data-dismiss=modal>×</button>
                        <h4 class=modal-title>Frame Experience</h4></div>
                    <div class=modal-body>
                        <p>Skeleton, Bootstrap, gumby</div>
                    <div class=modal-footer>
                        <button class="btn btn-default" type=button data-dismiss=modal>Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=container-fluid id=section4>
    <h1>contact info</h1>
    <div itemscope itemtype="http://schema.org/Person">
   <span itemprop="name">Tom Buxton</span> <br>
   <span itemprop="company">web developer</span><br>
   <a itemprop="email" href="mailto:tbuxton82&#64gmail.com">send email</a>
</div>
    </div>

